/* Global Color Values */

:root {
    --curr-color-mode: dark;
    --curr-main-color: rgb(35, 35, 35);
    --curr-secondary-color: rgb(25, 25, 25);
    --curr-text-color: rgb(255, 255, 255);
    --curr-scroll-color: gray;
}

/* CSS Reset */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--curr-text-color);
    transition: background-color 0.5s, color 0.5s;
}

/* General Styling */

body {
    background-color: var(--curr-secondary-color) !important;
}

/* Layout and Base Styling */

.container {
    width: 75vw;
    height: 90vh;
    float: right;

    overflow: scroll;
    overflow-x: hidden;

    margin: 0 auto;
    margin-right: 3vw;
    margin-top: 10vh;

    padding-right: 2vw;
}

.navbar {
    width: 100vw;
    height: 10vh;
    position: fixed;

    background-color: var(--curr-main-color);
    border-bottom: 1px solid gray;

    display: flex;
    align-items: center;
    
    box-shadow: 0px 0px 20px 15px rgba(0,0,0,.25);
}

.left-navbar {
    height: 10vh;
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.right-navbar {
    height: 10vh;
    flex: 4.5;

    display: flex;
    align-items: center;
    justify-content: center;
}

.right-navbar button {
    width: 8vw;
    height: 8vh;

    margin-left: 1vw;
    margin-right: 1vw;

    background-color: gray;
    border: none;

    cursor:pointer;
}

#display_mode {
    transition-duration: 0.4s;
    background-color: darkcyan;
    font-size: 1vw;
}

#display_mode:hover {
    background-color: cyan;
    color: black;
}

.sidebar {
    width: 20vw;
    height: 90vh;
    position: fixed;

    top: 10vh;
    left: 0px;

    background-color: var(--curr-main-color);

    border-right: 1px solid gray;
    box-shadow: 0px 20px 20px 15px rgba(0,0,0,.25);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.panel, .project {
    width: 100%;
    height: fit-content;

    margin: 4vh 0.5vw 4vh 0.5vw;
    padding: 5vh;

    background-color: var(--curr-main-color);
    border: 1px solid gray;
    border-radius: 10px;

    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.25);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--curr-scroll-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: darkcyan;
}

/* Styling */

.titletext {
    font-size: 2.5vw;
}

h1, h2 {
    font-size: 3.5vw;
    padding-bottom: 3vh;
    margin-bottom: 3vh;

    border-bottom: 1px dotted gray;
}

h2 {    
    margin-top: 3vh;
    font-size: 1.5vw;
}

li { 
    font-size: .75vw;
    margin-left: 30px;
}

p {
    font-size: 1vw;

    margin-top: 1vh;
    margin-bottom: 1vh;
}

.banner {
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 3vh;

    border-radius: 5px;

    box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.25);
}

.project {
    width: 90%;
    height: 8vh;

    margin: 0px;
    padding: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
}

.project a {
    text-decoration: none;
    font-size: 1.5vw;
}